<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body style="background-color: azure;">
    <h1>hii this is new file</h1>
    {{name}}

    <form action="remove" method="get">
         
          <!-- <input type="text" name="num1" placeholder="enter num1"   ><br>
          <input type="text" name="num2" placeholder="enter num2"  ><br> -->
          <input  type="text" name="text"  placeholder="enter string" ><br>
           
          <input type="checkbox" name='id1' > remove pun <br>
           <input type="checkbox" name='id2' > uppercase <br>
           <input type="checkbox" name='id3' > new line remover<br>
           <input type="checkbox" name='id4' > extra spaces remove<br>
           <input type="checkbox" name='id5' > count char<br>

          <input type="submit" value="sum" >
      </form>
</body>
</html>
